<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- xacro includes -->
    <!-- include lrmate200id robot + kinect + sensor + gripper -->
    <xacro:include filename="$(find bin_picking)/urdf/binpicking_macro.xacro"/>
    <xacro:bin_picking prefix="" />

    <!-- include r_platform+sensores-->
    <xacro:include filename="$(find r_platform)/urdf/r_platform_macro.xacro"/>
    <xacro:r_platform prefix="" />


    <joint name="robot_base_link-Placa_cima" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="robot_base_link" />
        <child link="Placa_cima" />
    </joint>

</robot>