<?xml version="1.0"?>
<launch>
    <!-- Launch URDF model-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find r_platform)/urdf/robuter.urdf.xacro'" />

    <!-- start RViz configuration-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find r_platform)/config/rviz_urdf.rviz" required="true" />

    <!-- start robot_state_publisher for joint relations-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    
</launch>