<?xml version="1.0"?>
<launch>

    <!-- Launch URDF -->
    <!-- <param name="robot_description" textfile="$(find r_platform)/urdf/urdf_platform_final.urdf" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find r_platform)/urdf/r_platform.xacro'" />

    <!-- <param name="robot_description" textfile="$(find r_platform)/urdf/r_platform.xacro" /> -->

    <!-- Robot_state_publisher-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Joint_state_publisher-->
    <param name="use_gui" value="true" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- start RViz configuration-->
</launch>
