<launch>
	<!-- Load the parameters file -->
	<rosparam command="load" file="$(find r_platform)/params/default.yaml"/>
	<!-- joy node -->
	<node respawn="true" pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
		<param name="autorepeat_rate" value="20" />
	</node>
	<node pkg="r_platform" type="r_hybrid" name="r_hybrid" />

	<node pkg="r_platform" type="decompose_vel" name="decompose_vel" />
	<node pkg="r_platform" type="r_client_node" name="r_client_node" />
	<!-- <node pkg="hokuyo_node" type="
	" name="hokuyo_node"/> -->




	<node name="hokuyo1" pkg="hokuyo_node" type="hokuyo_node">
		<param name="port" type="string" value="/dev/ttyACM0" />
		<param name="frame_id" value="laser1"/>
		<param name="min_ang" type="double" value="-1.9" />
		<param name="max_ang" type="double" value="1.9" />
		<param name="skip" type="int" value="0" />
		<param name="intensity" value="false" />
		<remap from="scan" to="scan1" />
	</node>
	<node name="hokuyo0" pkg="hokuyo_node" type="hokuyo_node">
		<param name="port" type="string" value="/dev/ttyACM1" />
		<param name="frame_id" value="laser"/>
		<param name="min_ang" type="double" value="-2.35619449019234492883" />
		<param name="max_ang" type="double" value="2.35619449019234492883" />
		<param name="skip" type="int" value="0" />
		<param name="intensity" value="false" />
		<remap from="scan" to="scan0" />
	</node>


	<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_example)/launch/rviz_cfg.rviz"/> -->





	<include file="$(find r_platform)/launch/automatic.launch"/>

	<!-- <param name="map_frame" value="map"/>
	<node pkg="tf" type="static_transform_publisher" name="base_frame2laser" args="0 0 0 0 0 0 map laser 100"/> -->
	<node pkg="tf" type="static_transform_publisher" name="laser2laser1" args="-0.755 0 0 3.14159 0 0 laser laser1 100"/>




	<node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		<param name="destination_frame" value="laser"/>
		<param name="cloud_destination_topic" value="/merged_cloud"/>
		<param name="scan_destination_topic" value="/scan"/>
		<param name="laserscan_topics" value ="/scan0 /scan1" />
		<!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	</node>
	<!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->
</launch>
