<?xml version="1.0"?>
<launch>
  <arg name="ip_str" value="192.168.0.231" />

  <!-- Planing and execution -->
  <group>
    <!-- <include file="$(find fanuc_moveit_config)/launch/moveit_planning_execution.launch">
      <arg name="sim" value="false" />
      <arg name="robot_ip" value="$(arg ip_str)" />
    </include> -->

    <include file="$(find moveit_ROBONUC_pack)/launch/moveit_planning_execution.launch">
      <arg name="sim" value="false" />
      <arg name="robot_ip" value="$(arg ip_str)" />
    </include>
  </group>


</launch>
